<div id="listeners-page" class="page">
  <h2>Meeting - Listener</h2>
  <div id="other-streams"></div>
  <button id="join">Join Broadcast</button>
  <button id="hangup" disabled>Stop Spectating</button>
</div>

<script type="text/javascript" charset="utf-8">
  window.isListener = true
</script>
